<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-4 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p>ABC Healthcare is a Mumbai-based pharma company which sells medicines throughout India as per the demand it receives from multiple hospitals and clinics. </p>              
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Categories</h3>
              <ul class="footer-links">
                <li>Covid Essentials</li>
                <li>Ayurvedic</li>
                <li>Allopathy</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Details</h3>
              <ul class="footer-links">
                <li><i class="fa fa-phone"></i> +91-9876543210</li>
                <li><i class="fa fa-envelope-o"></i> abc@healthcare.com</li>
                <li><i class="fa fa-map-marker"></i> MUMBAI</li>
              </ul>
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->
  </footer>
  <!-- /FOOTER -->